/**/

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #131313;
  font-weight: 400;
  font-size: 14px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px; /*не использовать статичную ширину для адаптива*/
  padding: 0 10px; /*чтобы не прилегало*/
  margin: 0 auto; /*0 сверху и снизу и автоматические отступы слева и справа*/ 
}

.menu {
  margin-right: 70px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  padding-left: 10px;
}

.menu__link {
  text-transform: uppercase; /*заглавные буквы*/
  padding: 43px 20px;
  transition: all 300ms;
}

.menu__link:hover {
  background-color: #131313;
  color: #fff;
}

.bike {
  padding: 100px 0 100px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
  height: 100%;
  min-width: 0;
}

.bike__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  margin: 70px 0 5px;
}

.bike__subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  color: #6F6F6F;
  margin: 0 0 60px;
}

.bike__text {
  max-width: 420px;
  margin-bottom: 20px;
}

.bike__link,
.form__btn {
  margin-top: 80px; /*схлопываются марджины, поэтому не 60*/
  display: inline-block; /*ссылки по умолчанию строчные*/
  text-transform: uppercase;
  background-color: #131313;
  color: #fff;
  padding: 28px calc(81px - 1.1em);
  letter-spacing: 1.1em;
  transition: all 300ms;
  font-size: 20px;
  line-height: 24px;
}

.bike__link:hover,
.form__btn:hover {
  background-color: #FF4040;
}

.bike__column {
  height: 100%;
}

.slick-list {
  overflow: hidden;
  min-width: 0;
}

.slick-track {
  display: flex;
  align-items: flex-start; 
}

.bike__slider {
  position: relative;
  min-width: 0;
}

.bike__slider .slick-dots {
  right: 0;
  top: 52px;
}

.slider__img {
  max-width: 630px;
}

.slick-dots {
  position: absolute; 
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button{
  font-size: 0;
  width: 2px;
  height: 25px;
  background-color: #131313;
  border-radius: 7px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: all 300ms;
}

.slick-dots li.slick-active button,
.slick-dots button:hover {
  background-color: #FF4040;
}

.bike__list {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.bike__list-item {
  text-align: center;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 53px; /*53 ОБЩИЙ, НО  по 5 пикселей сверху и снизу и 31 высота максимального блока + 17 от верхнего*/
}

.bike__list-num {
  color: #131313;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.bike__list-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: auto 0; /*предыдущий коммент*/
}

.info {
  padding-top: 50px;
  margin-bottom: 100px;
}

.info__inner {
  display: flex;
}

.info__img {
  margin-right: 60px;
  max-width: 570px; /*flex-basis*/
  object-fit: cover; /*на случай, если картинку поменяют*/
}

.info__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}

.info__item-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;  
}

.info__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  margin: 0;
  flex-basis: 450px;
}

.characteristics {
  padding-top: 50px;
  margin-bottom: 100px;
}

.characteristics__table {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.characteristics__inner {
  display: flex;
}

.characteristics__items {
  margin-right: 60px;
  flex-basis: 570px;
}

.characteristics__list + .characteristics__list {
  padding-top: 30px;
}

.characteristics__title {
  text-transform: uppercase;
  color: #fff;
  background-color: #131313;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.characteristics__line {
  display: flex;
  padding-top: 5px;
}

.characteristics__name {
  flex-basis: 285px;
  padding-right: 10px;
}

.characteristics__descr {
  flex-basis: 285px;
}

.characteristics__img {
  align-self: center;
}

.slider {
  margin-bottom: 50px;
}

.slider__img {
  max-width: 1148px;
  margin-left: 50px;
}

.slider__items{
  position: relative;
}

.slider__items .slick-dots {
  top: 0;
  left: 0;  
}

.price {
  padding-top: 50px;
  margin-bottom: 100px;
}

.price__inner {
  position: relative;
}

.price__form {
  max-width: 420px;
}

.form__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.form__text {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
}

.form__input-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #6F6F6F;
}

.form__input-name,
.form__input-tel {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.form__input-name::placeholder,
.form__input-tel::placeholder,
.form__input-text {
  opacity: 0.5;
  color: #6F6F6F;
}

.form__input-text{
  margin-bottom: 10px;
}

.form__label-box {
  display: flex;
}

.form__label + .form__label {
  margin-left: 23px;
}

.form__input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__bike {
  display: block;
}

.form__bike {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.form__bike-price {
  font-weight: 400;
  font-size: 32px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF4040;
  border-radius: 50%;
  transform: translateX(-50%); /*толкаем ее в бочину на половину себя влево*/
}

.form__bike-price::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 100px;
  border: 1px solid #FF4040;
  border-radius: 50%;
  top: 10px;
}

.form__radio-style {
  width: 80px;
  height: 12px;
  border-radius: 30px;
  left: 0;
}

.form__radio-style--grey {
  background-color: #6F6F6F;
}

.form__radio-style--white {
  background-color: #fff;
  border: 1px solid #6F6F6F;
}

.form__radio-style--red {
  background-color: #FF4040;
}

.form__btn {
  border: none;
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
}

.footer {
  background-color: #131313;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.footer__link {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social-link {
  margin-right: 13px;
  margin-left: 13px;
}

.footer__contacts {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
}

.footer__contacts-link + .footer__contacts-link {
  margin-top: 10px;
}

.footer__contacts-img {
  margin-right: 10px;
}

@media (max-width: 1140px) {
.form__bike-img {
    width: 500px;
  }
  .form__bike {
    top: 45px;
  }
}

@media (max-width: 1110px) {
  .bike {
    padding-top: 50px;
  }
  .bike__inner {
    flex-wrap: wrap;
  }
  .bike__link {
    margin-top: 20px;
  }
  .bike__column-slider {
    max-width: 100%;
    order: -1;
    margin-left: 0;
  }
  .bike__text {
    max-width: 100%;
  }
  .info {
    padding-top: 0;
  }
  .info__img {
    display: none;
  }
  .info__list {
    flex-basis: 100%;
  }
  .info__item-text {
    flex-basis: 100%;
  }
  .characteristics {
    padding-top: 0;
    margin-bottom: 50px;
  }
  .slider__img {
    object-fit: cover;
    height: 450px;
  }
  .price {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .menu {
    margin-right: 0px;
  }
  .bike__column {
    text-align: center;
  }
  .characteristics__inner {
    flex-wrap: wrap;
  }
  .characteristics__img {
    order: -1;
    width: 100%;
    margin-bottom: 30px;
  }
  .characteristics__items {
    flex-basis: 100%;
    margin-right: 0;
  }
  .characteristics__name {
    flex-basis: 50%;
  }
  .characteristics__descr {
    flex-basis: 50%;
  }
  .slider__img {
    height: 350px;
  }
  .form__label-box {
    margin-bottom: 300px;
  }
  .form__bike {
    top: auto;
    bottom: 85px;
    left: 0;
    right: auto;
  }
  .form__bike-img {
    width: 430px;
  }
  .form__bike-price {
    right: -20%;
    transform: translateX(100%);
    left: auto;
    top: 0;
  }
}

@media (max-width: 780px) {
  .form__bike-price {
    right: 0;
    top: -55px;
    transform: translateX(50%);
  }
}

@media (max-width: 670px) {
  .bike__title {
    font-size: 44px;
    line-height: 57px;
    margin: 30px 0 5px;
  }
  .bike__subtitle {
    margin: 0 0 30px;
    font-size: 22px;
    line-height: 29px;
  }
  .bike__list {
    flex-wrap: wrap;
  }
  .bike__list-item {
    width: 50%;
    margin-bottom: 10px;
  }
  .info__item + .info__item {
    padding-top: 30px;
  }
  .slider__img {
    height: 300px;
  }
}

@media (max-width: 640px) {
  .header__inner {
    display: block;
    text-align: center;
  }
  .menu {
    margin-top: 50px;
  }
  .menu__list {
    justify-content: space-evenly;
  }
  .menu__item + .menu__item {
    padding-left: 0;
  }
  .menu__link {
    padding: 25px 20px;
  }
  .slider__img {
    height: 220px;
  }
}

@media (max-width: 580px) {
  .form__bike-price {
    right: auto;
    top: 30px;
    transform: translateX(0%);
    left: 0;
    display: block;
    font-size: 18px;
    border: none;
    width: 100%;
    border-radius: 0;
    height: auto;
  }
  .form__bike-price span {
    background-color: #131313;
    color: #fff;
    display: inline-block;
    padding: 3px;
  }
  .form__bike-price::after {
    display: none;
  }
}

@media (max-width: 460px) {
  .menu__list {
    justify-content: space-between;
  }
  .menu__link {
    padding: 25px 5px;
  }
  .bike__link,
  .form__btn {
    font-size: 18px;
    padding: 20px calc(40px - 0.9em);
    letter-spacing: 0.9em;
  }
  .slider {
    display: none;
  }
  .form__bike {
    bottom: 100px;
    right: 0;
  }
  .form__bike-img {
    width: 270px;
  }
  .form__label-box {
    margin-bottom: 200px;
    justify-content: center;
  }
  .form__bike-price { 
    top: 0;
  }
  .form__text {
    max-width: 100%;
  }
  .price__inner {
    text-align: center;
  }
  .form__text {
    max-width: 100%;
  }
  .footer__inner {
    display: block;
    height: auto;
    padding: 10px 0;
    text-align: center;
  }
  .footer__social {
    padding: 10px 0;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 340px) {
  .menu {
    margin-top: 30px;
  }
  .menu__list {
    justify-content: space-between;
  }
  .menu__link {
    padding: 25px 0px;
    font-size: 12px;
  }
}